body {
    background-color: #f7f7f7;
    font-family: "Segoe UI", sans-serif;
}
#clock {
    font-size: 1.7em;
}
.mynavbar {
    background-color: white !important;
    border-bottom: 2px solid silver;
}
.navbar-brand {
    font-size: 3em;
    font-family: Comic Sans MS, sans-serif;
    color: silver !important;
}
.center-menu-title {
    color: #ea1d1d;
    font-family: Comic Sans MS, sans-serif;
    font-size: 1.7em;
    text-align: center;
}
.ul-center-menu li a {
    color: #a99999;
    text-decoration: none;
}
.ul-center-menu li {
    border-radius: 3px;
}
.ul-center-menu li:hover {
    background-color: #f1e4e0;
    transition: all 0.6s;
}
#search-films,
#autorization,
.new-films-list {
    text-align: center;
    border: 2px solid silver;
    padding: 5px;
    color: #a99999;
    background-color: #fff;
    font-family: Comic Sans MS, sans-serif;
    font-weight: bold;
}
.btn-mybutton {
    width: 100%;
    color: white;
    background-color: gray;
}
.btn-mybutton:hover {
    background-color: red;
    transition: all 0.6s;
    color: white;
}
.reset-pwd a {
    text-decoration: none;
    color: rgb(221, 9, 221);
}
.reset-pwd a:hover {
    color: purple;
    transition: all 0.6s;
}
.new-films-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}
.new-films-list a {
    text-decoration: none;
    color: black;
}
.new-films-list a:hover {
    color: silver;
    transition: all 0.3s;
}
.new-films-list {
    padding: 0 0 0 15%;
}
.nick-film a {
    text-decoration: none;
}
.nickname {
    color: black;
    font-family: Comic Sans MS, sans-serif;
    font-size: 1.7em;
}
.nickname:hover,
.film:hover {
    color: silver;
    transition: all 0.3s;
}
.film {
    color: black;
    font-family: Comic Sans MS, sans-serif;
    padding-left: 10px;
}
.title {
    color: red;
    font-family: Comic Sans MS, sans-serif;
    font-size: 1.7em;
    border-bottom: 2px solid silver;
    padding: 0 0 8px 0;
}
.best-reviews,
.news {
    border: 2px solid silver;
    border-radius: 10px;
    padding: 10px 25px 10px 25px;
}
.main-text {
    color: #a99999;
}
/*Страница личного кабинета*/
.lk{
	border: 2px solid silver;
    border-radius: 10px;
    padding: 10px;
    font-family: Comic Sans MS, sans-serif; 
    color: #a99999;
    background-color: #fff;
    font-weight: bold;
}
.h2{
	color: black;
}
/* Рейтинг рецензии(звездочки)*/
.rating-area {
	overflow: hidden;
	width: 200px;
	margin: 0 auto;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 25px;
	padding: 0;
	cursor: pointer;
	font-size: 25px;
	line-height: 30px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
	margin-right: 13px; 
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;

}
.rating-area > label:active {
	position: relative;
}

footer {
    height: 50px;
    border-top: 2px solid silver;
    background-color: white;
    margin-left: -15px;
    margin-right: -15px;
}

